<p>
    <div class="alert alert-danger" ng-if="form.city.$touched && form.city.$error.required">
        Airports need a city.
    </div>
    <div class="alert alert-danger" ng-if="form.city.$touched && form.city.$error.minlength || form.city.$error.maxlength">
        City name must be between 3-50 characters.
    </div>
    <div class="alert alert-danger" ng-if="form.city.$touched && form.city.$error.pattern">
        City names can only have letters.
    </div> 

    <label for="city">City Name</label>
    <input name="city" ng-model="ctrl.airport.city" ng-minlength="3" ng-maxlength="50" ng-pattern="/^[a-zA-Z\s]*$/" required="required"/>
  </p>

  <p>
    <div class="alert alert-danger" ng-if="form.name.$touched && form.name.$error.required">
        Airports need a name!
    </div>
    <div class="alert alert-danger" ng-if="form.name.$touched && form.name.$error.minlength || form.name.$error.maxlength">
        Airport names must be between 10-75 characters.
    </div>
    <div class="alert alert-danger" ng-if="form.name.$touched && form.name.$error.pattern">
        Airport names can only have letters.
    </div> 

    <label for="name">Airport Full Name</label>
    <input name="name" ng-model="ctrl.airport.name" ng-minlength="10" ng-maxlength="75" ng-pattern="/^[a-zA-Z\s]*$/" required="required"/>
  </p>

  <p>
    <div class="alert alert-danger" ng-if="form.code.$touched && form.code.$error.required">
        Airports need a code
    </div>
    <div class="alert alert-danger" ng-if="form.code.$touched && form.code.$error.maxlength || form.code.$error.minlength">
        Airports codes must be exactly 3 characters long. Example: San Francisco International Airport is SFO.
    </div> 

    <div class="alert alert-danger" ng-if="form.code.$touched && form.code.$error.pattern">
        Airport codes can only have letters.
    </div> 

    <label for="code">Airport Code</label>
    <input name="code" ng-model="ctrl.airport.code" ng-minlength="3" ng-maxlength="3" ng-pattern="/^[a-zA-Z\s]*$/" required="required"/>
  </p>