

<div class="row">
  <div class="col-md-4">
    <h3>Airlines <a href="" ui-sref="airlines.new" class="btn btn-primary">Add Airline</a></h3>
    <table class="table table-striped table-condensed">
      <tr>
        <th>Airline Name</th>
        <th>Airline Code</th>
      </tr>
      <tr ng-repeat="airline in AirlineIndex.airlines">
        <td><a href="" ui-sref="airlines.airline({id: airline.id})">{{ airline.name }}</a></td>
        <td>{{ airline.code }}</td>  
      </tr>
    </table>
  </div>

  <div class="col-md-8">
    <div ui-view></div>
  </div>

</div>


