<h3>
  Flights on {{ ctrl.airline.name }} ({{ctrl.airline.code}}) 
  <a ng-show="ctrl.user" href="" ui-sref="airlines.airline.edit" class="btn btn-primary">Edit</a>
</h3>

<div ui-view></div>

<input ng-model="ctrl.search" ng-change="ctrl.refilter()" placeholder="Search Flights"/>

<table class="table table-striped table-condensed">
  <tr>
    <th></th>
    <th>Flight Number</th>
    <th>Departure Time</th>
    <th>Departure Airport</th>
    <th>Arrival Time</th>  
    <th>Arrival Airport</th>
  </tr>
  <tr ng-repeat="flight in ctrl.filteredList | orderBy: 'departure'">
    <td><a href="" ui-sref="flight({id: flight.id})" class="btn btn-primary btn-xs">Details</a></td>
    <td>{{AirlineShow.airline.code}} {{ flight.id }}</td>
    <td>{{ flight.departure | date:'short' }}</td>
    <td>{{ flight.origin }}</td>
    <td>{{ flight.arrival | date:'short' }}</td>  
    <td>{{ flight.destination }}</td>
  </tr>
</table>