<h3>Flights</h3>
<input ng-model="FlightIndex.search" ng-change="FlightIndex.refilter()" placeholder="Search Flights"/>
<table class="table table-striped table-condensed">
  <tr>
    <th></th>
    <th>Departure Time</th>
    <th>Departure Airport</th>
    <th>Arrival Time</th>  
    <th>Arrival Airport</th>
    <th>Airline</th>
    <th>Flight Number</th>
  </tr>
  <tr ng-repeat="flight in FlightIndex.filteredList">
    <td><a href="" ui-sref="flight({id: flight.id})">See Flight Details</a></td>
    <td>{{ flight.departure }}</td>
    <td>{{ flight.origin.label }}</td>
    <td>{{ flight.arrival }}</td>  
    <td>{{ flight.destination.label }}</td>
    <td>{{ flight.airline_name }}</td>
    <td>{{ flight.id }}</td>
  </tr>
</table>