<div class="form_wrapper">
  <h2>Add Flight</h2>

  <form name="form" ng-submit="form.$valid && FlightIndex.createFlight()">
    <p>
      <div class="alert alert-danger" ng-if="form.airline_id.$touched && form.airline_id.$error.required">
          Flights need an airline. Please choose one.
      </div>
      <label for="airline_id">Airline</label>
      <select name="airline_id" ng-model="FlightIndex.flight.airline_id" required="required"s/>
        <option value="" disabled selected>Choose an airline</option>
        <option ng-repeat="airline in FlightIndex.airlines" value="{{airline.id}}">{{airline.name}}</option>
      </select>
    </p>

    <p>
      <div class="alert alert-danger" ng-if="form.origin_id.$touched && form.origin_id.$error.required">
          Flights need a departure airport. Please choose one.
      </div>
      <label for="origin_id">Departure Airport</label>
      <select name="origin_id" ng-model="FlightIndex.flight.origin_id" required="required"/>
        <option value="" disabled selected>Choose a departure airport</option>
        <option ng-repeat="airport in FlightIndex.airports" value="{{airport.id}}">{{airport.city}}({{airport.code}})</option>
      </select>
    </p>

    <p>
      <div class="alert alert-danger" ng-if="form.departure.$touched && form.departure.$error.required">
          Flights need a departure time.
      </div>
      <label for="departure">Departure Date & Time</label>
      <input name="departure" ng-model="FlightIndex.flight.departure" type="datetime-local" required="required"/>
    </p>


    <p>
      <div class="alert alert-danger" ng-if="form.destination_id.$touched && form.destination_id.$error.required">
          Flights need an arrival airport. Please choose one.
      </div>
      <label for="destination_id">Arrival Airport</label>
      <select name="destination_id" ng-model="FlightIndex.flight.destination_id" required="required"/>
        <option value="" disabled selected>Choose an arrival airport</option>
        <option ng-repeat="airport in FlightIndex.airports" value="{{airport.id}}">{{airport.city}}({{airport.code}})</option>
      </select>
    </p>


    <p>
      <div class="alert alert-danger" ng-if="form.arrival.$touched && form.arrival.$error.required">
          Flights need an arrival time.
      </div>
      <label for="arrival">Arrival Date & Time</label>
      <input name="arrival" ng-model="FlightIndex.flight.arrival" type="datetime-local" required="required"/>
    </p>

    <p>
      <div class="alert alert-danger" ng-if="form.price.$touched && form.price.$error.required">
          Price can't be empty.
      </div>
      <div class="alert alert-danger" ng-if="form.price.$touched && form.price.$invalid">
          Price must be between $50-$10,000.
      </div>
      <label for="price">Price</label>
      <input type="number" name="price" ng-model="FlightIndex.flight.price" min="50" max="10000" required="required"/>
    </p>

    <input type="submit" value="Create Flight" class="btn btn-success btn-sm">
  </form>
</div>