<div class="row">

  <div class="col-md-4">
    <h3>{{ FlightShow.flight.airline_name}} {{FlightShow.flight.id}}</h3>
    <p>From: {{ FlightShow.flight.origin.label }}<br />
    Departure Time: {{ FlightShow.flight.departure | date:'short' }}</p>
    <p>To: {{ FlightShow.flight.destination.label }}<br />
    Arrival Time: {{ FlightShow.flight.arrival | date:'short'  }}</p>

    <a ui-sref="flight.passengers" class="btn btn-primary">See Passengers</a>

    <div ui-view></div>
  </div>

  <div class="col-md-8">
    <map orglat="FlightShow.flight.origin.lat" orglong="FlightShow.flight.origin.long" destlat="FlightShow.flight.destination.lat" destlong="FlightShow.flight.destination.long">
    </map>
  </div>

</div>
