<div class="row">

  <div class="col-md-4">
    <h3>{{ FlightShow.flight.airline_name}} {{FlightShow.flight.id}}</h3>
    <p>From: {{ FlightShow.flight.origin.label }}<br />
    Departure Time: {{ FlightShow.flight.departure | date:'short' }}</p>
    <p>To: {{ FlightShow.flight.destination.label }}<br />
    Arrival Time: {{ FlightShow.flight.arrival | date:'short'  }}</p>

    <div id="price">
      <p ng-model="FlightShow.flight.price">Price: {{ '$' + FlightShow.flight.price.toLocaleString() }}</p>

      <form ng-show="FlightShow.user" name="form" ng-submit="form.$valid && FlightShow.updateFlight()">
        <div class="alert alert-danger" ng-if="form.price.$touched && form.price.$error.required">
            Price can't be empty.
        </div>
        <div class="alert alert-danger" ng-if="form.price.$touched && form.price.$invalid">
            Price must be between $50-$10,000.
        </div>
        <label for="price">Update Price</label>
        <input type="number" name="price" ng-model="FlightShow.flight.price" min="50" max="10000" required="required"/>

        <input type="submit" value="Update Price" class="btn btn-primary btn-sm">
      </form>
    </div>

    <div id="buy" ng-show="FlightShow.user">
      <a href="" ng-click="FlightShow.addPassenger()" class="btn btn-success">Buy</a>
    </div>
  </div>

  <div class="col-md-8">
    <map orglat="FlightShow.flight.origin.lat" orglong="FlightShow.flight.origin.long" destlat="FlightShow.flight.destination.lat" destlong="FlightShow.flight.destination.long">
    </map>
  </div>

</div>
