<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <ul class="nav navbar-nav">
          <li><a href="/#/home">Airports</a></li>
          <li><a href="/#/airlines">Airlines</a></li>
          <li><a href="/#/flights">Flights</a></li>
      </ul>
  </nav>
</header>