<!DOCTYPE html>
<html>
<head>
  <title>Hiko</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry" async defer></script>
</head>

<%= render 'layouts/header' %>

<body ng-app="hiko">
  <div class="container">
    <ui-view></ui-view>
  </div>
</body>
</html>
